* {
    font-family: "Noto Serif", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.title-link {
    color: black;
    text-decoration: none;
}

.title-link.dark-mode {
    color: white;
}

:root {
    --secondary-dark: #1E201E;
    --bg-dark: #3C3D37;
    --primary-dark: #697580;
    --fg-dark: #ECDFCC;
}

body {
    background-color: #f0f0f0;
}

body.dark-mode {
    background-color: var(--bg-dark);
}

h1, h2 {
    color: black;
}

h1.dark-mode, h2.dark-mode {
    color:white;
}

#nav-bar {
    height: 10%;
    display: flex;
    text-align: center;
    border-bottom: 3px solid black;
}

#nav-bar.dark-mode {
    background-color: var(--secondary-dark);
    border-bottom-color: var(--primary-dark);
}

#main-container {
    height: 90%;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#main-container.dark-mode {
    background-color: var(--bg-dark);
}

.left-side {
    box-sizing: border-box;
    -ms-flex: 50%;
    flex: 50%;
    background-color: #f1f1f1;
    padding: 20px;
}

.left-side.dark-mode {
    background-color: var(--bg-dark);
}

.right-side {
    box-sizing: border-box;
    border-left: 3px solid black;
    -ms-flex: 50%;
    flex: 50%;
    background-color: #f1f1f1;
}

.right-side.dark-mode {
    background-color: var(--bg-dark);
    border-left-color: var(--primary-dark);
}

.top-side {
    height: 50%;
    border-bottom: 3px solid black;
}

.bottom-side {
    height: 40%;
}

#sudoku_div {
    float: left;
    margin-bottom: 10px;
    padding: 15px;
}

#selected-pad {
    width: max-content;
    padding: 10px;
    border-radius: 3px;
    margin:5px;
    border: 2px solid black;
}

#selected-pad.dark-mode {
    border-color: var(--primary-dark);
}

.row {
    display: flex;
    width: auto;
}

.cell {
    -ms-user-select: none;
    user-select: none;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;

    background-color: white;

    font-size: 45px;
    text-align: center;

    cursor: pointer;

    color: blue;
}

.cell.dark-mode {
    background-color: var(--fg-dark);
}

.cell.selected {
    box-shadow: inset 0px 0px 0px 5px blue;
}

.cell.dark-mode.selected {
    box-shadow: inset 0px 0px 0px 5px var(--primary-dark);
}

.cell.vert_sep_right {
    border-right-width: 4px;
}

.cell.hor_sep_bottom {
    border-bottom-width: 4px;
}

.cell.vert_sep_left {
    border-left-width: 4px;
}

.cell.hor_sep_top {
    border-top-width: 4px;
}

.cell.nums {
    color: black;
    margin: 2px;
    border-radius: 5px;
    background-color: #e0e0e0;
}

.cell.colors {
    color: black;
    margin: 2px;
    border-radius: 50%;
    background-color: #e0e0e0;
}

button {
    font-size: 26px;
}

a {
    color: blue;
}

a.dark-mode {
    color: lightblue;
}

#level-list {
    padding: 0px;
    margin-top: 0px;
}

.level {
    font-size: 26px;
    color: black;
    border-bottom: 2px solid black;
    padding: 5px;

    cursor:pointer;
}

.level.dark-mode {
    color:white;
    border-color:var(--primary-dark);
}

#btn_clear, #rules-div {
    margin-top: 10px;
    margin-left: 20px;
}

#buttons-pad, #selected-pad {
    margin-left: 20px;
}

#over {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    position: fixed;
    background-color: rgb(128, 128, 128, 0.5);
}

.overlay {
    width: 40%;
    height: 30%;
    z-index: 6;
    left: 30%;
    top: 30%;
    color: #cdcdcd;
    font-size: 0.8em;
    position: fixed;
    background-color: white;
    opacity: 1;
}
